<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/static/styles.css" rel="stylesheet" type="text/css"/>
    <title>CakeFactory</title>
<style>
.mybody {padding: 20px;}
</style>
</head>
<body class="mybody">

<div class="logotype">
<a href="/"><img src="/static/img/Logo_Color_Transparent.png" height=100></a></div>
</div>
<div style = "text-align: right">
{% if "username" not in session %}
	<a href="/login">Войти</a>
{% endif %}
{% if "username" in session %}
	<div class="navbar-brand"><img src="/static/img/{{session['content']}}" height=50 alt="Аватар">
	{{session['username']}}</div>
	<a href="/logout">(выйти)</a>
{% endif %}
</div>
<div style = "text-align: center">
{% block content %}{% endblock %}
<div>
</body>
 </html>
  </body>
</html>
