{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        {% for item in form %}
            <p>
                {{ item.label }}<br>
                {{ item }}<br>
                {% for error in item.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
        {% endfor %}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
